<div class="w-full justify-center align-center h-full min-h-screen md:px-2 text-black ">
    <div class="block">

        <div class="grid grid-cols-3 justify-between pt-8 pb-5 px-1">
            <div class="text-gray-700 text-3xl  font-bold md:col-span-1 col-span-3 flex items-center">
                <p>
                    Event History:</p>
            </div>
            <div class=" col-span-3 md:col-span-2 flex items-center h-10 rounded-lg border-gray-700 border-2 p-2">
                <svg fill="#000000" height="28px" class="pr-2" width="28px" version="1.1" id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 488.4 488.4" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
			s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
			S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
			S381.9,104.65,381.9,203.25z" />
                        </g>
                    </g>
                </svg>
                <input type="text" placeholder="Search" [(ngModel)]="searchText"
                    (ngModelChange)="onSearchChange($event)" class=" w-full text-gray-700 text-lg focus:outline-none">
            </div>
        </div>

        <div
            class="shadow-gray-500 border-4 border-green-900 shadow-sm grid overflow-hidden grid-cols-6 bg-customDarkGreen text-center w-full h-full px-3 md:px-2 py-2 text-[10px] leading-none md:text-lg font-semibold text-gray-50">
            <div class="border-r-2 border-green-900 flex justify-center items-center">
                <button (click)="onSortChange('event_start');ascStart = !ascStart" class="">
                    <div class="flex justify-center items-center">
                        <svg *ngIf="ascStart" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Down Arrow -->
                            <path d="M12 20L6 14H18L12 20Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="10" x2="18" y2="10" />
                            <line x1="8" y1="6" x2="16" y2="6" />
                        </svg>
                        <svg *ngIf="!ascStart" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Up Arrow -->
                            <path d="M12 4L6 10H18L12 4Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="14" x2="18" y2="14" />
                            <line x1="8" y1="18" x2="16" y2="18" />
                        </svg>
                        <p>Date Started</p>
                    </div>
                </button>
            </div>
            <div class="border-r-2 border-green-900 flex justify-center items-center">
                <button (click)="onSortChange('event_end');ascEnd = !ascEnd" class="">
                    <div class="flex justify-center items-center">
                        <svg *ngIf="ascEnd" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Down Arrow -->
                            <path d="M12 20L6 14H18L12 20Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="10" x2="18" y2="10" />
                            <line x1="8" y1="6" x2="16" y2="6" />
                        </svg>
                        <svg *ngIf="!ascEnd" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Up Arrow -->
                            <path d="M12 4L6 10H18L12 4Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="14" x2="18" y2="14" />
                            <line x1="8" y1="18" x2="16" y2="18" />
                        </svg>
                        <p>Date Ended</p>
                    </div>
                </button>
            </div>
            <div class="border-r-2 border-green-900 flex justify-center items-center">
                <button (click)="onSortChange('event_name');ascEvent = !ascEvent" class="">
                    <div class="flex justify-center items-center">
                        <svg *ngIf="ascEvent" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Down Arrow -->
                            <path d="M12 20L6 14H18L12 20Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="10" x2="18" y2="10" />
                            <line x1="8" y1="6" x2="16" y2="6" />
                        </svg>
                        <svg *ngIf="!ascEvent" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Up Arrow -->
                            <path d="M12 4L6 10H18L12 4Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="14" x2="18" y2="14" />
                            <line x1="8" y1="18" x2="16" y2="18" />
                        </svg>
                        <p>Event Name</p>
                    </div>
                </button>
            </div>
            <div class="border-r-2 border-green-900 flex justify-center items-center">
                <button (click)="onSortChange('details');ascDetails = !ascDetails" class="">
                    <div class="flex justify-center items-center">
                        <svg *ngIf="ascDetails" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Down Arrow -->
                            <path d="M12 20L6 14H18L12 20Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="10" x2="18" y2="10" />
                            <line x1="8" y1="6" x2="16" y2="6" />
                        </svg>
                        <svg *ngIf="!ascDetails" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Up Arrow -->
                            <path d="M12 4L6 10H18L12 4Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="14" x2="18" y2="14" />
                            <line x1="8" y1="18" x2="16" y2="18" />
                        </svg>
                        <p>Details</p>
                    </div>
                </button>
            </div>
            <div class="border-r-2 border-green-900 flex justify-center items-center">
                <button (click)="onSortChange('status');ascStatus = !ascStatus" class="">
                    <div class="flex justify-center items-center">
                        <svg *ngIf="ascStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Down Arrow -->
                            <path d="M12 20L6 14H18L12 20Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="10" x2="18" y2="10" />
                            <line x1="8" y1="6" x2="16" y2="6" />
                        </svg>
                        <svg *ngIf="!ascStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <!-- Up Arrow -->
                            <path d="M12 4L6 10H18L12 4Z" fill="currentColor" />
                            <!-- Line for data -->
                            <line x1="6" y1="14" x2="18" y2="14" />
                            <line x1="8" y1="18" x2="16" y2="18" />
                        </svg>
                        <p>Status</p>
                    </div>
                </button>
            </div>
            <div class=" flex justify-center items-center">
                <div class="flex justify-center items-center">

                    <p>Images</p>
                </div>
            </div>
        </div>
        <div *ngIf="getEventsToDisplay().length==0"
            class="grid grid-cols-7 overflow-hidden bg-customDarkGreen border-b border-gray-50 border-b-[3px] text-center w-full h-full px-3 md:px-2 py-2 text-xs md:text-lg font-semibold text-gray-200">
            <div class="text-md col-span-7 md:text-lg flex justify-center items-center">No results found</div>
        </div>
        <div *ngFor="let events of getEventsToDisplay()"
            class="grid grid-cols-6 overflow-hidden bg-customDarkGreen border-b border-gray-50 border-b-[3px] text-center w-full h-full px-3 md:px-2 py-2  text-[10px] leading-none md:text-lg font-semibold text-gray-200">

            <div class="flex justify-center items-center px-2 text-[10px] md:text-sm">{{ formatDate(events.event_start)}}</div>
            <div class="flex justify-center items-center px-2 text-[10px] md:text-sm">{{ formatDate(events.event_end)}}</div>
            <div class="flex justify-center items-center px-2">{{ events.event_name}}</div>
            <div class="flex justify-center items-center  px-2 text-[8px] md:text-xs leading-none">{{ events.details}}</div>
            <div class="flex justify-center items-center px-2">
                <p *ngIf="events.status==1" class="text-green-200">Event Ended</p>
                <p *ngIf="events.status==0" class="text-red-200">Event Disabled</p>
            </div>
            <div class="flex justify-center items-center ">
                <img src="https://mapp-thesis.infotech3c.com/public/dbAssets/eventImages/{{events.event_image}}"
                    class="size-16 md:size-24 object-cover  border-2 border-gray-50 rounded-xl" />
            </div>
        </div>


        <!-- Load more button -->
        <div class="flex justify-center mt-1 justify-between">
            <button (click)="prevTransaction()"
                class="bg-green-700 text-white py-2 px-4 rounded-md hover:bg-green-800 hover:shadow-md hover:shadow-gray-400">
                Prev
            </button><button (click)="nextTransaction()"
                class="bg-green-700 text-white py-2 px-4 rounded-md hover:bg-green-800 hover:shadow-md hover:shadow-gray-400">
                Next
            </button>
        </div>
    </div>
    