<div class="min-h-screen top-0 w-full px-[8vw]  left-0  flex  items-center justify-center bg-customGreen">
    <div
        class="grid  grid-cols-1 md:grid-cols-2  justify-center shadow-bottom shadow-black items-center h-[520px] w-[1000px] bg-white rounded-xl">
        <div class="justify-center items-center h-full w-full p-8 hidden md:flex bg-gray-50 rounded-l-xl">
            <img src="assets/images/chmsu_logo.png" class="md:size-[400px] xl:size-[400px] align-center ">
        </div>
        <div
            class="h-full w-full p-16 justify-center items-center flex bg-gray-200  rounded-xl md:rounded-l-[0px] md:rounded-r-xl">
            <div class=" w-full">
                <h6 class="text-center overflow-hidden  text-xl md:text-3xl text-gray-700">
                    Welcome Back!
                </h6>
                <form (ngSubmit)="onLogin()" class="pt-4">
                    <div class="form-group mb-4">
                        <input type="text" id="email" name="email" [(ngModel)]="email" required
                            placeholder="Enter email or username"
                            class="mt-2 h-14 rounded-full text-sm px-4 py-2 w-full border border-gray-300  focus:outline-none focus:ring-[3px] focus:ring-customSkyBlue " />
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" id="password" [(ngModel)]="password" name="password" required
                            placeholder="Enter password"
                            class=" h-14 rounded-full  text-sm px-4 py-2 w-full border border-gray-300 focus:outline-none focus:ring-[3px] focus:ring-customSkyBlue" />
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" name="submit"
                            class=" h-12 rounded-full text-white text-sm px-4 py-2 bg-blue-600 hover:bg-blue-900 w-full border border-gray-300 focus:outline-none focus:ring-[3px] focus:ring-customSkyBlue">Login</button>
                    </div>

                    <div class="form-group col-span-2 h-2 p-2">

                        <p *ngIf="errorMessage" class="text-center text-red-700 text-sm ">{{this.errorMessage}}</p>
                    </div>
                </form>
                <div class="hidden text-center mt-4 overflow-hidden ">
                    <button class="text-blue-500 text-sm overflow-hidden ">
                        Forgot Password ?
                    </button>
                </div>
                <div class=" text-center overflow-hidden ">
                    <button (click)="goToSignup()" class="text-blue-500 text-sm">
                        Don't have an account? Sign Up
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="signingIn"
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 h-full w-full z-[100]">
        <div class="animate-spin rounded-full size-20 border-t-4 border-black"> </div>
        <p class="relative left-[-65px] font-bold text-xs">loading...</p>
    </div>

