* {
    user-select: none;  /* Prevents text selection */
    -webkit-user-drag: none;  /* Prevents dragging in WebKit browsers (e.g., Chrome, Safari) */
    -moz-user-select: none;  /* Prevents text selection in Firefox */
    -ms-user-select: none;   /* Prevents text selection in IE/Edge */
  }
  

  .svgTable{
    @apply md:w-8 md:h-8 w-4 h-4
  }